<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <add key="PersonRepository.Interface.IPersonRepository"
         value="PersonRepository.Service.ServiceRepository,
                PersonRepository.Service, Version=1.0.0.0, Culture=neutral" />

    <!--add key="PersonRepository.Interface.IPersonRepository"
         value="PersonRepository.CSV.CSVRepository,
                PersonRepository.CSV, Version=1.0.0.0, Culture=neutral" /-->    

    <!--add key="PersonRepository.Interface.IPersonRepository"
         value="PersonRepository.SQL.SQLRepository,
                PersonRepository.SQL, Version=1.0.0.0, Culture=neutral" /-->

    <!--add key="RepositoryType" 
         value="PersonRepository.Service.ServiceRepository,
                PersonRepository.Service, Version=1.0.0.0, Culture=neutral" /-->

    <!--add key="RepositoryType"
         value="PersonRepository.CSV.CSVRepository,
                PersonRepository.CSV, Version=1.0.0.0, Culture=neutral" />
    <add key="CSVFileName" value="People.txt" /-->

    <!--add key="RepositoryType"
         value="PersonRepository.SQL.SQLRepository,
                PersonRepository.SQL, Version=1.0.0.0, Culture=neutral" /-->
  </appSettings>

</configuration>